<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <%= link_to "Blog", root_path %> | Github: <a href="https://github.com/gabrielius159/RubyProjektas">RubyProjektas</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>